button{
    margin-right: 20px;
}
.btn-home{
    background-color: rgba($color: orange, $alpha: 0.5);
}
.btn-logout{
    background-color: rgba($color: red, $alpha: 0.5);
}
.mat-toolbar{
    background-color: rgba($color: gray, $alpha: 0.3);
}
.danger{
    color:#000;
    text-align: center;
    font-style: italic;
}
.container{
     max-width: 400px;
     background-color: rgba($color: orange, $alpha: 0.4);
     margin: 0 auto;
     border-radius: 5px;
}