h2{
    text-align: center;;
}
a{
    color: #000;
}
.mat-toolbar{
    a{
        text-decoration: underline;
        margin-right: 30px;
        cursor: pointer;
    }
}
table{
    margin: 0 auto;
    tr{
        height: 30px;
        text-align: center;
    }
}