<mat-toolbar class="mat-toolbar mat-toolbar-single-row">
    <a routerLink="/auth">Auth</a>
</mat-toolbar>
<div class="container" [class.success]="success === true">
<flash-messages class="danger"></flash-messages>
</div>
<mat-card>
    <mat-card-title>Registration</mat-card-title>
    <form (submit)="userRegister()">
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput type="text" name="login" [(ngModel)]="login" id="login" placeholder="Write login"
                required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="email" id="email"
                placeholder="Write e-mail" required/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" id="password" #correctness="ngModel"
                [(ngModel)]="password" placeholder="Write password" minlength="8" required />
            <div class="correctness" *ngIf="correctness.invalid && (correctness.dirty || correctness.touched)">
                <div *ngIf="correctness.errors?.minlength">
                    Min possible value is 8*
                </div>
            </div>
        </mat-form-field>
        <div class="button">
            <button mat-raised-button color="base" type="submit">Register</button>
        </div>
    </form>
</mat-card>