.mat-card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 280px;
}
a{
    color: #000;
}
.mat-toolbar span{
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
}
.mat-form-field{
    margin-bottom: 20px;
}
.correctness{
    opacity: .5;
    color: red;
    font-size: 12px;
}
.danger{
    color:#000;
    text-align: center;
    font-style: italic;
}
.container{
     max-width: 400px;
     background-color: rgba($color: red, $alpha: 0.4);
     margin: 0 auto;
     border-radius: 5px;
}
.container.success{
    background-color: rgba($color: green, $alpha: 0.4);
}