<mat-toolbar class="mat-toolbar mat-toolbar-single-row">
  <span>Library</span>
</mat-toolbar>
<mat-card>
  <mat-card-title>Authorization</mat-card-title>
  <mat-form-field>
    <label for="login">Login</label>
    <input matInput type="text" name="login" [(ngModel)]="loginForm.login" id="login" placeholder="Write to login"
      required />
    <div>
      <label for="password">Password</label>
      <input matInput type="text" name="password" id="password" #correctness="ngModel" [(ngModel)]="loginForm.password"
        placeholder="Write to password" minlength="8" required />
      <div *ngIf="correctness.invalid && (correctness.dirty || correctness.touched)">
        <div *ngIf="correctness.errors?.required">
          Required field
        </div>
        <div *ngIf="correctness.errors?.minlength">
          Max possible value is 20
        </div>
      </div>
    </div>
    <button mat-raised-button color="base" routerLink="/library">Login</button>
  </mat-form-field>
</mat-card>