<app-header></app-header>
<mat-card>
  <form>
    <mat-card-title>Create Book</mat-card-title>
        <label for="name">Book name</label>
        <input  type="text" name="name" id="name" [(ngModel)]="books.name" placeholder="Write the title of the book" required />

      <label for="description">Description</label>
      <textarea type="text" name="description" id="description" [(ngModel)]="books.description" placeholder="Write a description"
        required></textarea>
    <button mat-raised-button color="base" (click)="add(books)">Add Book</button>
  </form>
</mat-card>