a {
    color: #000;
}
.mat-card {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mat-toolbar span {
    margin: 0 auto;
    a {
        text-decoration: underline;
        margin-right: 30px;
        cursor: pointer;
    }
}

label {
    display: block;
    text-align: center;
}
input {
    width: 97%;
    padding-left: 10px;
}
textarea {
    width: 100%;
    height: 200px;
    resize: none;
}
