a{
    color: #000;
}
.mat-toolbar{
    a{
        text-decoration: underline;
        margin-right: 30px;
        cursor: pointer;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    
}
h2{
    text-align: center;
    margin-top: 20px;
}
.detail__page{
    margin-top: 20px;
    text-align: center;
}
.detail__description{
    margin-top: 20px;
}
